fastapi
uvicorn[standard]

langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langchainhub

chromadb
tiktoken

pymongo
python-dotenv
jinja2
requests
aiofiles
apscheduler
